*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
}

.flexRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4em;
}

.formContainer{
    width: 50%;

    /* max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative; */
}

#contact{
    background-image: url(../assets/images/homeHeaderImage.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 14px;
    /* background-color: #f9f9f9; */
    padding: 2em 4em;
    width: 100%;
    margin: 50px 0;
}

#contact h3{
    color: #5b7575;
    display: block;
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: 600;
}

#contact input, #contact textarea, #contact button{
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 400;
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;
    padding: 0;
}

#contact input, #contact textarea{
    width: 100%;
    border: 5px solid #ccc;
    background-color: #f3f3f3;
    margin: 0 0 5px;
    padding: 10px;
}

#contact textArea{
    height: 100px;
    max-height: 100%;
    resize: none;
}

#contact button{
    cursor: pointer;
    width: 250px;
    border: none;
    background-color: #14dede;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 14px;
}

#contact input:hover, #contact textarea:hover{
    border: 5px solid #14dede;
}

#contact input:focus, #contact textarea:focus{
    background-color: #88ebdf;
}

#contact button:hover{
    background-color: #000000;
} 